@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Open+Sans:wght@400&display=swap');

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(23, 69, 52, 0.7)), 
                url('../../assets/heroimage.jpg'); 
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.hero-text {
    text-align: center;
    max-width: 800px;
}

.hero-text h1 {
    font-size: 3.75rem; /* 60px equivalent */
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}

.gradient-text {
    background: linear-gradient(90deg, #FF7E5F, #FFB88C, #85FFBD, #bf7ae4); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text p {
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
    font-size: 1.125rem; /* 18px equivalent */
    font-family: 'Open Sans', sans-serif;
}

/* Media Queries for responsiveness */

/* For larger screens */
@media (min-width: 1200px) {
    .hero {
        padding: 40px 60px; /* Larger padding for bigger screens */
    }
}

/* For medium screens (tablet) */
@media (max-width: 1024px) {
    .hero {
        padding: 30px 40px; /* Adjusted padding */
    }
}

/* For small screens (mobile) */
@media (max-width: 768px) {
    .hero {
        padding: 20px 15px; /* Smaller padding */
    }
}

/* For extra small screens (mobile portrait) */
@media (max-width: 480px) {
    .hero {
        padding: 10px 5px; /* Smaller padding */
    }
}
