/* Footer styles */
.footer {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  transition: background-color 0.3s ease, border-top 0.3s ease; 
}

.footer-content p {
  font-size: 14px;
  margin: 0;
  text-align: center;
}

/* Dark Mode Footer Styles */
.dark-footer {
  background: rgb(9, 9, 9); 
  border-top: 2px solid rgb(41, 159, 108); /* Green border on dark mode */
}

.dark-footer p {
  color: rgb(236, 240, 240); /* Light text color */
}

/* Light Mode Footer Styles */
.light-footer {
  background: white; 
  border-top: 2px solid cyan;
}

.light-footer p {
  color: black; /* Dark text color */
}
